<aside id="sidebar">
  <article class="name">
    <h1>Dmitry Lukichev</h1>
    <h2>System Architect</h2>
  </article>

  <article class="personal">
    <h2>Personal Info</h2>
    <p>
      <fa-icon [icon]="icons.addressIcon"></fa-icon>
      Podgorica, Montenegro
    </p>
    <p>
      <fa-icon [icon]="icons.phoneIcon"></fa-icon>
      +382 67 13-98-55
    </p>
    <p>
      <a href="mailto:dmlukichev@gmail.com">
        <fa-icon [icon]="icons.emailIcon"></fa-icon>
        dmlukichev@gmail.com
      </a>
    </p>
    <p>
      <fa-icon [icon]="icons.calendarIcon"></fa-icon>
      1987-08-09
    </p>
    <p>
      <a href="https://github.com/dmlukichev">
      <fa-icon [icon]="icons.githubIcon"></fa-icon>
      github.com/dmlukichev
      </a>
    </p>
    <p>
      <a href="https://stackoverflow.com/users/story/851290">
        <fa-icon [icon]="icons.stackOverflowIcon"></fa-icon>
        stackoverflow.com/users/851290
      </a>
    </p>
    <p>
      <a href="https://www.linkedin.com/in/dmlukichev/">
        <fa-icon [icon]="icons.linkedinIcon"></fa-icon>
        linkedin.com/in/dmlukichev
      </a>
    </p>
  </article>

  <article class="skills">
    <h2>Skills</h2>

    <p *ngFor="let skill of skills" class="skill">
      <span class="skill__caption">{{skill.name}}</span>
      <span class="skill__bar">
        <span
          *ngFor="let i of range(10)" class="skill__bar-inner"
          [ngClass]="{ 'skill__bar-inner--active': skill.value > i }"
        ></span>
      </span>
    </p>
  </article>

  <article class="languages">
    <h2>Languages</h2>
    <p *ngFor="let skill of languages" class="skill">
      <span class="skill__caption">{{skill.name}}</span>
      <span class="skill__bar">
        <span
          *ngFor="let i of range(10)" class="skill__bar-inner"
          [ngClass]="{ 'skill__bar-inner--active': skill.value > i }"
        ></span>
      </span>
    </p>
  </article>
</aside>

<main id="content">
  <p class="brief">
    I am a seasoned full-stack web developer proficient in a diverse range of
    technologies and methodologies. With over a decade of experience, I specialize
    in crafting applications across various platforms to meet myriad demands.
  </p>

  <section>
    <h2>Experience</h2>

    <article class="experience">
      <div class="experience__heading">
        <div class="experience__position">
          <p class="experience__title">System Architect</p>
          <p class="experience__company">
            Documo

            <a href="https://skyeng.ru/" target="_blank">
              <fa-icon [icon]="icons.linkIcon"></fa-icon>
              documo.com
            </a>
          </p>
        </div>

        <div class="experience__meta">
          <span>Full-time</span>
          <span>
            <fa-icon [icon]="icons.usersIcon"></fa-icon>
            13 people
          </span>
          <span class="experience__timespan">
            Jan 2022 → Mar 2024
          </span>
        </div>
      </div>
      <div class="experience__techs">
        <span>typescript</span>
        <span>angular</span>
        <span>nestjs</span>
        <span>mysql</span>
        <span>postgres</span>
        <span>redis</span>
        <span>kafka</span>
      </div>
      <div class="experience__description">
          <p>
            Played one of the key roles in the planning and management of a project focused on developing our internal fax sending system. Collaborated closely with team members during pair-coding sessions to successfully implement crucial components of the system
          </p>

          <p>
            Independently revamped the deployment process of our service to align with the transition from a monolithic to a microservices architecture, completing tasks that our DevOps department was unable to handle.
          </p>

          <p>
            Took the lead in initiating an incremental migration of the codebase to advanced frameworks, ensuring that our codebase is in sync with the company's current stage and prepared for future expansion.
          </p>

          <p>
            Effectively communicated the advantages of the new approach to the development team, despite initial resistance, emphasizing its long-term viability.
          </p>

          <p>
            Took ownership of the most challenging aspects of development and served as a source of guidance and support for the team during challenging periods, ensuring progress even when encountering obstacles.
          </p>

          <p>
            Changes I have introduced to the project resulted in the reduction of coupling, decreased complexity; adoption of more modern tools have led to more predictable timelines during the development of new features
          </p>
      </div>
    </article>

    <figure class="spacer"></figure>

    <article class="experience">
      <div class="experience__heading">
        <div class="experience__position">
          <p class="experience__title">Senior Frontend Developer</p>
          <p class="experience__company">
            Skyeng

            <a href="https://skyeng.ru/" target="_blank">
              <fa-icon [icon]="icons.linkIcon"></fa-icon>
              skyeng.ru
            </a>
          </p>
        </div>

        <div class="experience__meta">
          <span>Full-time</span>
          <span>
            <fa-icon [icon]="icons.usersIcon"></fa-icon>
            5 people
          </span>
          <span class="experience__timespan">
            Oct 2020 → Feb 2021
          </span>
        </div>
      </div>
      <div class="experience__techs">
        <span>typescript</span>
        <span>angular</span>
        <span>webrtc</span>
        <span>janus</span>
      </div>
      <div class="experience__description">
        <h4>Responsibilities</h4>
        <ul>
          <li>
            development of videocall library that is reused in company projects by other teams
          </li>
          <li>
            update of the system responsible of gathering logs and analytical information
          </li>
          <li>
            analysis and examination of potential videocall problems, received from second
            line of support
          </li>
        </ul>
      </div>
    </article>

    <figure class="spacer"></figure>

    <article class="experience">
      <div class="experience__heading">
        <div class="experience__position">
          <p class="experience__title">Tech lead</p>
          <p class="experience__company">
            Payever

            <a href="https://getpayever.com/" target="_blank">
              <fa-icon [icon]="icons.linkIcon"></fa-icon>
              getpayever.com
            </a>
          </p>
        </div>
        <div class="experience__meta">
          <span>Full-time</span>
          <span>
            <fa-icon [icon]="icons.usersIcon"></fa-icon>
            3-7 people
          </span>
          <span class="experience__timespan">
            Apr 2019 → Aug 2020
          </span>
        </div>
      </div>
      <div class="experience__techs">
        <span>angular</span>
        <span>typescript</span>
        <span>nestjs</span>
        <span>mongodb</span>
      </div>
      <div class="experience__description">
        <h4>Responsibilities</h4>
        <p>
          My sole assignment at this company was to develop a site constructor
          that is a mixture of Wix and Tilda with UI as simple as possible for users
          without web development experience (using Keynote as a reference).
        </p>
        <p>
          Core features for this editor were:
        </p>
        <ul>
          <li>
            fully functional visual editor with drag-n-drop, resize,
            magnetization to guides and anchor points, etc...
          </li>
          <li>
            out-of-the-box adaptiveness of resulting page for multiple screens
          </li>
          <li>
            ability to extend pages from custom build prototype
          </li>
          <li>
            possibility to expand the core functionality with external
            plugins
          </li>
          <li>
            generation of tablet/mobile versions from desktop version on the fly
            while keeping ability to edit them afterwards
          </li>
        </ul>

        <h4>Achievements</h4>
        <ul>
          <li>
            guided development of editor starting from proof-of-concept phase till
            releasing it to first customers
          </li>
          <li>
            despite using expensive framework optimized performance of the
            renderer so it could easily work with 2000+ elements on the page
            without lags
          </li>
          <li>
            designed the architecture of the application with separation to
            reusable modules
          </li>
          <li>
            implemented action-based git-like data storage that allowed merging
            changes from prototype to forked pages without losing existing
            modification
          </li>
          <li>
            implemented small, but effective microservice on backend so editor actions
            could be stored and compiled into final result
          </li>
          <li>
            come up with algorithm that will allow dynamic positioning of the elements
            depending on screen size
          </li>
          <li>
            during project growth controlled and directed work of team that grew
            from 3 to 6 developers
          </li>
        </ul>
      </div>
    </article>

    <figure class="spacer"></figure>

    <article class="experience">
      <div class="experience__heading">
        <div class="experience__position">
          <p class="experience__title">Senior Frontend Developer</p>
          <p class="experience__company">
            Snapcart

            <a href="https://snapcart.global/" target="_blank">
              <fa-icon [icon]="icons.linkIcon"></fa-icon>
              snapcart.global
            </a>
          </p>
        </div>

        <div class="experience__meta">
          <span>Full-time</span>
          <span>
            <fa-icon [icon]="icons.usersIcon"></fa-icon>
            6-8 people
          </span>
          <span class="experience__timespan">
            Apr 2018 → Feb 2019
          </span>
        </div>
      </div>
      <div class="experience__techs">
        <span>reactjs</span>
        <span>redux</span>
        <span>material-ui</span>
        <span>formik</span>
        <span>jestjs</span>
      </div>
      <div class="experience__description">
        <h4>Responsibilities</h4>
        <ul>
          <li>Developing client side application for internal use</li>
          <li>Interaction with backend team to formalize client requirements</li>
          <li>Code review of other team members</li>
        </ul>

        <h4>Achievements</h4>
        <ul>
          <li>
            Dashboard has been successfully launched and was used by teams in
            4 different countries
          </li>
          <li>
            Implemented a reusable ui-kit that was applied in other company apps
          </li>
        </ul>
      </div>
    </article>

    <figure class="spacer"></figure>

    <article class="experience">
      <div class="experience__heading">
        <div class="experience__position">
          <p class="experience__title">Senior Frontend Developer</p>
          <p class="experience__company">
            Dashnex

            <a href="https://dashnex.com/" target="_blank">
              <fa-icon [icon]="icons.linkIcon"></fa-icon>
              dashnex.com
            </a>
          </p>
        </div>
        <div class="experience__meta">
          <span>Contract</span>
          <span>
            <fa-icon [icon]="icons.usersIcon"></fa-icon>
            5 people
          </span>
          <span class="experience__timespan">
            Aug 2017 → Mar 2018
          </span>
        </div>
      </div>
      <div class="experience__techs">
        <span>typescript</span>
        <span>angular</span>
        <span>php</span>
        <span>symfony</span>
        <span>bootstrap-4</span>
        <span>mysql</span>
      </div>
      <div class="experience__description">
        <h4>Responsibilities</h4>
        <ul>
          <li>Developing client side application for custom e-commerce platform</li>
          <li>Migrating existing client application from AngularJS to Angular 2+</li>
          <li>Leading and tutoring two junior developers</li>
        </ul>

        <h4>Achievements</h4>
        <ul>
          <li>We were one of the first teams to use Angular's SSR in production</li>
          <li>Migration from AngularJS to Angular 2+ has been unnoticed by users despite it's complexity</li>
          <li>Client's FCP has been reduced from 3s to 400ms</li>
          <li>Client's size has been reduced from ~3mb to ~800kb</li>
        </ul>
      </div>
    </article>

    <figure class="spacer"></figure>

    <article class="experience">
      <div class="experience__heading">
        <div class="experience__position">
          <p class="experience__title">IT Consultant</p>
          <p class="experience__company">
            MM.LaFleur

            <a href="https://dashnex.com/" target="_blank">
              <fa-icon [icon]="icons.linkIcon"></fa-icon>
              mmlafleur.com
            </a>
          </p>
        </div>
        <div class="experience__meta">
          <span>Contract</span>
          <span>
            <fa-icon [icon]="icons.usersIcon"></fa-icon>
            Solo
          </span>
          <span class="experience__timespan">
            Oct 2016 → May 2017
          </span>
        </div>
      </div>
      <div class="experience__techs">
        <span>typescript</span>
        <span>node.js</span>
        <span>angular</span>
        <span>postgresql</span>
        <span>sequelize.js</span>
        <span>hapi</span>
        <span>python</span>
      </div>
      <div class="experience__description">
        <h4>Responsibilities</h4>
        <ul>
          <li>
            Developing of a service for identifying and tracking suspicious transactions
            (both client and backend)
          </li>
          <li>
            Building integration with Magento and Shipstation for fetching primary input
            data
          </li>
          <li>
            Building custom parsers for UPS, USPS for fetching additional input data
            that was not exposed via APIs
          </li>
          <li>
            Writing non-trivial SQL-queries for BigQuery (filling the role of company's
            SQL ninja)
          </li>
        </ul>

        <h4>Achievements</h4>
        <ul>
          <li>
            service has been successfully launched and integrated into company's
            business processes
          </li>
          <li>
            for some complex custom reports time of generation has been reduced be
            factor of 3-10
          </li>
          <li>
            for daily export feature work time decreased to 1/300 of it's initial
            timing, from 20 minutes to couple of seconds (transformed database output on the fly using Node's streams)
          </li>
        </ul>
      </div>
    </article>
  </section>

  <section>
    <h2>Education</h2>
    <article class="experience">
      <div class="experience__heading">
        <div class="experience__position">
          <p class="experience__title">Master of Computer Applications</p>
          <p class="experience__company">
            Tambov State Technical University
            <a href="https://www.tstu.ru/en/" target="_blank">
              <fa-icon [icon]="icons.linkIcon"></fa-icon>
              www.tstu.ru
            </a>
          </p>
        </div>
        <div class="experience__meta">
          <span>Sep 2004 → Jun 2010</span>
        </div>
      </div>
    </article>
  </section>
</main>
